# Spark Sql with hive support without installation of Hive. 
### Here we have to configure warehouse.dir and spark will create metastore_db folder to store all the table and database details which supported by apache derby

In [1]:
from os.path import abspath
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

abs_path = abspath('spark-warehouse')
spark = SparkSession\
.builder\
.appName("MySparkAppWithHiveSupport")\
.config("spark.sql.warehouse.dir", abs_path)\
.enableHiveSupport()\
.getOrCreate()

sc = spark.sparkContext;
print(sc.version)
print(sc.getConf().getAll())

3.3.0
[('spark.sql.warehouse.dir', 'D:\\pythonWithPyspark\\Spark-practice\\spark-warehouse'), ('spark.driver.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'), ('spark.app.name', 'MySparkAppWithHiveSupport'), ('spark.app.startTime', '1659548633454'), ('spark.executor.id', 'driver'), ('spark.driver.port', '64574'), ('spark.app.submitTime', '1659548633228'), ('spark.sql.catalogImplementation', 'hive'), ('spark.rdd.compress', 'True'), ('spark.executor.extraJavaOptions', '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'), ('spark.serializer.objectStreamReset', '100'), ('spark.master', 'local[*]'), ('spark.submit.pyFiles', ''), ('spark.submit.deployMode', 'client'), ('spark.driver.host', 'IMP-ITPL0888.impetus.co.in'), ('spark.app.id', 'local-1659548636023'), ('spark.ui.showConsoleProgress', 'true')]

In [2]:
spark.sql("CREATE TABLE IF NOT EXISTS src (key INT, value STRING) USING hive;");

In [7]:
spark.sql("DESCRIBE TABLE src;")

DataFrame[col_name: string, data_type: string, comment: string]

In [9]:
spark.sql("INSERT INTO src (key, value) values (1, 'D1'),(2, 'D2'),(3, 'D3');");

In [12]:
DF1 = spark.sql("select * from src")
DF1.show()

+---+-----+
|key|value|
+---+-----+
|  1|   D1|
|  2|   D2|
|  3|   D3|
+---+-----+

In [26]:
#spark.sql("DROP DATABASE customer_data;")
spark.sql("create database if not exists customer_data COMMENT 'This is customer database';")
spark.sql("show databases;").show()
spark.sql("describe database extended customer_data;").show(10,True)

+-------------+
|    namespace|
+-------------+
|customer_data|
|      default|
+-------------+

+--------------+--------------------+
|     info_name|          info_value|
+--------------+--------------------+
|Namespace Name|       customer_data|
|       Comment|This is customer ...|
|      Location|file:/D:/pythonWi...|
|         Owner|      durgesh.pandey|
|    Properties|                    |
+--------------+--------------------+

In [29]:
spark.sql("use customer_data;")
path="sample_data/2015-12-12.csv"
csv_df=spark.read.options(inferSchema=True, header=True).csv(path)
csv_df.printSchema()
csv_df.show(10)
csv_df.write.saveAsTable("cust_data")

root
 |-- date: timestamp (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- size: integer (nullable = true)
 |-- r_version: string (nullable = true)
 |-- r_arch: string (nullable = true)
 |-- r_os: string (nullable = true)
 |-- package: string (nullable = true)
 |-- version: string (nullable = true)
 |-- country: string (nullable = true)
 |-- ip_id: integer (nullable = true)

+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
|               date|               time|   size|r_version|r_arch|   r_os|  package|version|country|ip_id|
+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
|2015-12-12 00:00:00|2022-08-04 13:42:10| 257886|    3.2.2|  i386|mingw32| HistData|  0.7-6|     CZ|    1|
|2015-12-12 00:00:00|2022-08-04 13:24:37|1236751|    3.2.2|x86_64|mingw32|  RJSONIO|  1.3-0|     DE|    2|
|2015-12-12 00:00:00|2022-08-04 13:42:35|2077876|    3.2.2|  i386|mingw32|   UsingR|  2.0-5|     CZ|    1|
|2015-12-12 00:00:00|2022-08-04 13:42:01| 266724|    3.2.2|  i386|mingw32|gridExtra|  2.0.0|     CZ|    1|
|2015-12-12 00:00:00|2022-08-04 13:00:21|3687766|       NA|    NA|     NA|     lme4| 1.1-10|     DE|    3|
|2015-12-12 00:00:00|2022-08-04 13:08:56|  57429|       NA|    NA|     NA| testthat| 0.11.0|     DE|    3|
|2015-12-12 00:00:00|2022-08-04 13:08:09| 216068|    3.2.2|x86_64|mingw32|  mvtnorm|  1.0-3|     DE|    4|
|2015-12-12 00:00:00|2022-08-04 13:25:00|3595497|    3.2.2|x86_64|mingw32|     maps|  3.0.1|     DE|    2|
|2015-12-12 00:00:00|2022-08-04 13:25:05|1579597|    3.2.2|x86_64|mingw32|       sp|  1.2-1|     DE|    2|
|2015-12-12 00:00:00|2022-08-04 13:25:21| 892152|    3.2.3|x86_64|mingw32|geosphere|  1.4-3|     DE|    2|
+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
only showing top 10 rows

In [30]:
spark.sql("SELECT * from cust_data where ip_id > 4").show(10)

+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
|               date|               time|   size|r_version|r_arch|   r_os|  package|version|country|ip_id|
+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
|2015-12-12 00:00:00|2022-08-04 02:58:25|  69772|    3.2.2|x86_64|mingw32|  acepack|1.3-3.3|     KR|  139|
|2015-12-12 00:00:00|2022-08-04 02:58:25| 266727|    3.2.2|x86_64|mingw32|gridExtra|  2.0.0|     KR|  139|
|2015-12-12 00:00:00|2022-08-04 02:58:26|1630065|    3.2.2|x86_64|mingw32|    Hmisc| 3.17-0|     KR|  139|
|2015-12-12 00:00:00|2022-08-04 02:58:32|  14621|       NA|    NA|     NA|megaptera|  1.0-0|     CN|11333|
|2015-12-12 00:00:00|2022-08-04 02:59:01|3195824|    3.2.2|x86_64|mingw32|     Rcpp| 0.12.2|     CN|11334|
|2015-12-12 00:00:00|2022-08-04 02:59:05|1114434|    3.2.2|x86_64|mingw32|     plyr|  1.8.3|     CN|11334|
|2015-12-12 00:00:00|2022-08-04 02:59:12| 794788|       NA|    NA|     NA|     mgcv|  1.8-9|     BR| 1404|
|2015-12-12 00:00:00|2022-08-04 02:58:53| 164877|       NA|    NA|     NA| pbkrtest|  0.4-3|     HK| 4129|
|2015-12-12 00:00:00|2022-08-04 02:59:12|9494061|       NA|    NA|     NA| xlsxjars|  0.6.1|     US|11335|
|2015-12-12 00:00:00|2022-08-04 02:58:54| 488081|       NA|    NA|     NA|     MASS| 7.3-45|     BR| 1404|
+-------------------+-------------------+-------+---------+------+-------+---------+-------+-------+-----+
only showing top 10 rows