# Spark DataFrames & SQL - Basics

https://github.com/XD-DENG

In [1]:
from __future__ import division

import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("My-DataFrame-Basics").getOrCreate()
sc = spark.sparkContext;
sqlContext = spark
print(sc.version)

3.3.0

In [2]:
spark.conf.set("spark.default.parallelism", "1")
spark.conf.set("spark.sql.shuffle.partitions", "2")
print(f"Total Core in the machine is => {sc.defaultParallelism}")
sc.getConf().getAll()

Total Core in the machine is => 8

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.executor.id', 'driver'),
 ('spark.app.id', 'local-1659507718957'),
 ('spark.app.submitTime', '1659507715431'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.app.name', 'My-DataFrame-Basics'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '59953'),
 ('spark.app.startTime', '1659507715747'),
 ('spark.driver.host', 'IMP-ITPL0888.impetus.co.in'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.sql.warehouse.dir',
  'file:/D:/pythonWithPyspark/Spark-practice/spark-warehouse')]

## 1. Build Spark DataFrames

### 1.1 Build Spark DataFrames from Python Lists

In [24]:
# Build a dataframe from Python Lists.

#DT1 = sqlContext.createDataFrame(data=[(1,2), (3,4)], schema=("A", "B"))
#DT1.show()
#df1 = spark.createDataFrame([(1, 3), (3, 4)])
#df1.show()

rd1 = sc.parallelize([('A', 'B'),(1,2), (3,4), (5,6)])
print(type(rd1.collect()))
print(rd1.filter(lambda x:x[0] == 'A').collect()[0])
df2 = spark.createDataFrame(data=rd1.filter(lambda x:x[0] != 'A'), schema=rd1.filter(lambda x:x[0] == 'A').collect()[0])
print(df2.show(10))

<class 'list'>
('A', 'B')
+---+---+
|  A|  B|
+---+---+
|  1|  2|
|  3|  4|
|  5|  6|
+---+---+

None

### 1.2 Build Spark DataFrames from RDD

In [5]:
sc.textFile("sample_data/2015-12-12.csv",
            use_unicode=True).\
take(4)

['"date","time","size","r_version","r_arch","r_os","package","version","country","ip_id"',
 '"2015-12-12","13:42:10",257886,"3.2.2","i386","mingw32","HistData","0.7-6","CZ",1',
 '"2015-12-12","13:24:37",1236751,"3.2.2","x86_64","mingw32","RJSONIO","1.3-0","DE",2',
 '"2015-12-12","13:42:35",2077876,"3.2.2","i386","mingw32","UsingR","2.0-5","CZ",1']

In [6]:
dat = sc.textFile("sample_data/2015-12-12.csv", use_unicode=True) \
                    .map(lambda x:x.replace('"', "")) \
                    .map(lambda x:x.split(","))

In [7]:
dat.take(2)

[['date',
  'time',
  'size',
  'r_version',
  'r_arch',
  'r_os',
  'package',
  'version',
  'country',
  'ip_id'],
 ['2015-12-12',
  '13:42:10',
  '257886',
  '3.2.2',
  'i386',
  'mingw32',
  'HistData',
  '0.7-6',
  'CZ',
  '1']]

**Note**: there can not be "." in the column names (header).

In [26]:
DT2 = sqlContext.createDataFrame(data = dat.filter(lambda x:x[0]!='date'),
                                 schema=dat.filter(lambda x:x[0]=='date').\
                                 collect()[0])
DT2.show(n=10)
DT2.persist()

+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|      date|    time|   size|r_version|r_arch|   r_os|  package|version|country|ip_id|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|2015-12-12|13:42:10| 257886|    3.2.2|  i386|mingw32| HistData|  0.7-6|     CZ|    1|
|2015-12-12|13:24:37|1236751|    3.2.2|x86_64|mingw32|  RJSONIO|  1.3-0|     DE|    2|
|2015-12-12|13:42:35|2077876|    3.2.2|  i386|mingw32|   UsingR|  2.0-5|     CZ|    1|
|2015-12-12|13:42:01| 266724|    3.2.2|  i386|mingw32|gridExtra|  2.0.0|     CZ|    1|
|2015-12-12|13:00:21|3687766|       NA|    NA|     NA|     lme4| 1.1-10|     DE|    3|
|2015-12-12|13:08:56|  57429|       NA|    NA|     NA| testthat| 0.11.0|     DE|    3|
|2015-12-12|13:08:09| 216068|    3.2.2|x86_64|mingw32|  mvtnorm|  1.0-3|     DE|    4|
|2015-12-12|13:25:00|3595497|    3.2.2|x86_64|mingw32|     maps|  3.0.1|     DE|    2|
|2015-12-12|13:25:05|1579597|    3.2.2|x86_64|mingw32|       sp|  1.2-1|     DE|    2|
|2015-12-12|13:25:21| 892152|    3.2.3|x86_64|mingw32|geosphere|  1.4-3|     DE|    2|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
only showing top 10 rows

DataFrame[date: string, time: string, size: string, r_version: string, r_arch: string, r_os: string, package: string, version: string, country: string, ip_id: string]

In [27]:
DT2.show(n = 10)

+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|      date|    time|   size|r_version|r_arch|   r_os|  package|version|country|ip_id|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|2015-12-12|13:42:10| 257886|    3.2.2|  i386|mingw32| HistData|  0.7-6|     CZ|    1|
|2015-12-12|13:24:37|1236751|    3.2.2|x86_64|mingw32|  RJSONIO|  1.3-0|     DE|    2|
|2015-12-12|13:42:35|2077876|    3.2.2|  i386|mingw32|   UsingR|  2.0-5|     CZ|    1|
|2015-12-12|13:42:01| 266724|    3.2.2|  i386|mingw32|gridExtra|  2.0.0|     CZ|    1|
|2015-12-12|13:00:21|3687766|       NA|    NA|     NA|     lme4| 1.1-10|     DE|    3|
|2015-12-12|13:08:56|  57429|       NA|    NA|     NA| testthat| 0.11.0|     DE|    3|
|2015-12-12|13:08:09| 216068|    3.2.2|x86_64|mingw32|  mvtnorm|  1.0-3|     DE|    4|
|2015-12-12|13:25:00|3595497|    3.2.2|x86_64|mingw32|     maps|  3.0.1|     DE|    2|
|2015-12-12|13:25:05|1579597|    3.2.2|x86_64|mingw32|       sp|  1.2-1|     DE|    2|
|2015-12-12|13:25:21| 892152|    3.2.3|x86_64|mingw32|geosphere|  1.4-3|     DE|    2|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
only showing top 10 rows

In [28]:
DT2.columns

['date',
 'time',
 'size',
 'r_version',
 'r_arch',
 'r_os',
 'package',
 'version',
 'country',
 'ip_id']

In [30]:
DT2.dtypes

[('date', 'string'),
 ('time', 'string'),
 ('size', 'string'),
 ('r_version', 'string'),
 ('r_arch', 'string'),
 ('r_os', 'string'),
 ('package', 'string'),
 ('version', 'string'),
 ('country', 'string'),
 ('ip_id', 'string')]

## 2. Change DataFrames Properties

### 2.1 Change Column Type

Availabel types include
- BinaryType
- BooleanType
- ByteType
- DoubleType
- DateType
- FloatType
- IntegerType
- etc.

In [32]:
from pyspark.sql.types import IntegerType, DateType

In [33]:
# .withColumn return a DataFrame by adding a column or replacing the existing column that has the same name.
DT3 = DT2.withColumn("size", DT2["size"].cast(IntegerType()))
DT3 = DT3.withColumn("date", DT3["date"].cast(DateType()))

In [34]:
DT3.dtypes

[('date', 'date'),
 ('time', 'string'),
 ('size', 'int'),
 ('r_version', 'string'),
 ('r_arch', 'string'),
 ('r_os', 'string'),
 ('package', 'string'),
 ('version', 'string'),
 ('country', 'string'),
 ('ip_id', 'string')]

In [35]:
DT3.show(5)

+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|      date|    time|   size|r_version|r_arch|   r_os|  package|version|country|ip_id|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
|2015-12-12|13:42:10| 257886|    3.2.2|  i386|mingw32| HistData|  0.7-6|     CZ|    1|
|2015-12-12|13:24:37|1236751|    3.2.2|x86_64|mingw32|  RJSONIO|  1.3-0|     DE|    2|
|2015-12-12|13:42:35|2077876|    3.2.2|  i386|mingw32|   UsingR|  2.0-5|     CZ|    1|
|2015-12-12|13:42:01| 266724|    3.2.2|  i386|mingw32|gridExtra|  2.0.0|     CZ|    1|
|2015-12-12|13:00:21|3687766|       NA|    NA|     NA|     lme4| 1.1-10|     DE|    3|
+----------+--------+-------+---------+------+-------+---------+-------+-------+-----+
only showing top 5 rows

### 2.2 Change Column Name

In [62]:
import pyspark.sql.functions as f
# .withColumnRenamed(existing, new) returns a new DataFrame by renaming an existing column.
DT4 = DT2\
.withColumn("size", DT2.size.cast(IntegerType()))\
.withColumnRenamed("size", "size_new")\
.withColumn("ip_id", DT2.ip_id.cast(IntegerType()))\
.withColumn("ip_id_new", f.col("ip_id")*5)
DT4.dtypes

[('date', 'string'),
 ('time', 'string'),
 ('size_new', 'int'),
 ('r_version', 'string'),
 ('r_arch', 'string'),
 ('r_os', 'string'),
 ('package', 'string'),
 ('version', 'string'),
 ('country', 'string'),
 ('ip_id', 'int'),
 ('ip_id_new', 'int')]

In [42]:
DT4.show(5)

+----------+--------+--------+---------+------+-------+---------+-------+-------+-----+---------+
|      date|    time|size_new|r_version|r_arch|   r_os|  package|version|country|ip_id|ip_id_new|
+----------+--------+--------+---------+------+-------+---------+-------+-------+-----+---------+
|2015-12-12|13:42:10|  257886|    3.2.2|  i386|mingw32| HistData|  0.7-6|     CZ|    1|        5|
|2015-12-12|13:24:37| 1236751|    3.2.2|x86_64|mingw32|  RJSONIO|  1.3-0|     DE|    2|       10|
|2015-12-12|13:42:35| 2077876|    3.2.2|  i386|mingw32|   UsingR|  2.0-5|     CZ|    1|        5|
|2015-12-12|13:42:01|  266724|    3.2.2|  i386|mingw32|gridExtra|  2.0.0|     CZ|    1|        5|
|2015-12-12|13:00:21| 3687766|       NA|    NA|     NA|     lme4| 1.1-10|     DE|    3|       15|
+----------+--------+--------+---------+------+-------+---------+-------+-------+-----+---------+
only showing top 5 rows

### 2.3 Order DataFrame by Specified Column(s)

In [43]:
DT3.sort(DT3.size.asc()).show(10)

+----------+--------+----+---------+------+----+------------+-------+-------+-----+
|      date|    time|size|r_version|r_arch|r_os|     package|version|country|ip_id|
+----------+--------+----+---------+------+----+------------+-------+-------+-----+
|2015-12-12|20:12:20| 504|       NA|    NA|  NA|  KernSmooth| 2.23-4|     CN|13246|
|2015-12-12|19:06:56| 504|       NA|    NA|  NA| httpRequest|  0.0.5|     CN| 1133|
|2015-12-12|20:33:36| 504|       NA|    NA|  NA|influence.ME|    0.7|     CN| 5337|
|2015-12-12|20:34:41| 504|       NA|    NA|  NA|      merror|    1.0|     CN| 5337|
|2015-12-12|20:33:02| 504|       NA|    NA|  NA|     granova|    1.4|     CN| 5331|
|2015-12-12|20:36:24| 504|       NA|    NA|  NA|       pheno|    1.5|     CN| 4943|
|2015-12-12|20:20:28| 504|       NA|    NA|  NA|   orloca.es|    3.2|     CN| 2365|
|2015-12-12|20:20:58| 504|       NA|    NA|  NA| poistweedie|    1.0|     CN|   74|
|2015-12-12|19:09:58| 504|       NA|    NA|  NA|     polycor|  0.7-0|     CN| 1153|
|2015-12-12|20:35:15| 504|       NA|    NA|  NA|      muStat|  1.6.0|     CN| 4943|
+----------+--------+----+---------+------+----+------------+-------+-------+-----+
only showing top 10 rows

In [44]:
DT3.sort(DT3.size.desc()).show(10)

+----------+--------+--------+---------+------+------------+--------------------+-------+-------+-----+
|      date|    time|    size|r_version|r_arch|        r_os|             package|version|country|ip_id|
+----------+--------+--------+---------+------+------------+--------------------+-------+-------+-----+
|2015-12-12|02:28:49|68736865|    3.3.0|x86_64|   linux-gnu|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|01:31:52|68736865|    3.1.3|x86_64|darwin10.8.0|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|02:27:31|68736865|    3.2.3|x86_64|     mingw32|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|02:28:30|68736865|    3.2.3|x86_64|     mingw32|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|21:23:23|68736862|    3.2.3|x86_64|darwin13.4.0|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|02:19:32|68736862|    3.2.0|  i386|     mingw32|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|17:06:20|68736856|       NA|    NA|          NA|           TCGA2STAT|    1.2|     US| 3084|
|2015-12-12|13:17:41|68736856|    3.2.3|x86_64|   linux-gnu|           TCGA2STAT|    1.2|     GB|  548|
|2015-12-12|01:28:03|68736856|    3.2.3|x86_64|     mingw32|           TCGA2STAT|    1.2|     US| 2700|
|2015-12-12|01:41:08|62559786|       NA|    NA|          NA|ChemometricsWithR...|  0.1.3|     US| 7666|
+----------+--------+--------+---------+------+------------+--------------------+-------+-------+-----+
only showing top 10 rows

## 3. Filtering, and Aggregation

In [45]:
DT3.filter(DT3['size'] <1000).count() / DT3.count()

0.11161009458040756

In [46]:
DT3.filter(DT3['package'] == "ggplot2").count() / DT3.count()

0.009273193054466087

In [47]:
DT3.groupBy("package").count().sort("count", ascending = False).show(10)

+------------+-----+
|     package|count|
+------------+-----+
|        Rcpp| 4783|
|     ggplot2| 3913|
|     stringi| 3748|
|     stringr| 3449|
|        plyr| 3436|
|    magrittr| 3265|
|      digest| 3223|
|    reshape2| 3205|
|RColorBrewer| 3046|
|      scales| 3007|
+------------+-----+
only showing top 10 rows

In [67]:
package_count = DT3.groupBy("package").count().sort("count", ascending = False)

In [68]:
package_count.show(10)

+------------+-----+
|     package|count|
+------------+-----+
|        Rcpp| 4783|
|     ggplot2| 3913|
|     stringi| 3748|
|     stringr| 3449|
|        plyr| 3436|
|    magrittr| 3265|
|      digest| 3223|
|    reshape2| 3205|
|RColorBrewer| 3046|
|      scales| 3007|
+------------+-----+
only showing top 10 rows

In [63]:
print(DT4.dtypes)
DT4.groupBy("package").avg().show()

[('date', 'string'), ('time', 'string'), ('size_new', 'int'), ('r_version', 'string'), ('r_arch', 'string'), ('r_os', 'string'), ('package', 'string'), ('version', 'string'), ('country', 'string'), ('ip_id', 'int'), ('ip_id_new', 'int')]
+----------+------------------+------------------+------------------+
|   package|     avg(size_new)|        avg(ip_id)|    avg(ip_id_new)|
+----------+------------------+------------------+------------------+
|   RJSONIO| 1177880.798969072| 7003.436671575847|35017.183357879236|
|    UsingR|1763649.4503311259| 6566.039735099338|32830.198675496686|
|      lme4|         4771306.7| 6236.024358974359|31180.121794871793|
|  testthat|149689.25042444823| 5210.857385398981|26054.286926994908|
|      maps| 2622275.320302648| 6322.675914249685|31613.379571248424|
|      mgcv|1550589.0213980027| 6926.507132667618| 34632.53566333809|
|    gtools| 97494.75194300518| 6971.608808290155|34858.044041450776|
|matrixcalc|  142329.431372549| 5653.700980392156|28268.504901960783|
| lubridate| 538029.1677316293| 6495.372204472844|32476.861022364217|
|doParallel|176764.07454819276| 7040.114457831325|35200.572289156626|
|     abind| 35663.39405204461|6140.9275092936805|30704.637546468402|
|DiagrammeR| 3435750.703703704| 5153.506172839506| 25767.53086419753|
| htmltools| 67587.48222222223| 6388.404444444444|31942.022222222222|
|   TH.data| 5125837.197368421|5820.3026315789475|29101.513157894737|
|      mime|25311.783426741393|6998.1869495596475| 34990.93474779824|
|  evaluate|29832.800382043933| 6782.650429799427| 33913.25214899713|
|   formatR| 44702.69104991394| 6283.491394148021|31417.456970740102|
| XLConnect| 4337568.444700461| 6554.023041474655|32770.115207373274|
| rmarkdown| 1215069.107321966| 6233.667001003009|31168.335005015044|
|    relimp| 36603.78918918919| 5420.491891891892| 27102.45945945946|
+----------+------------------+------------------+------------------+
only showing top 20 rows

In [65]:
DT4.describe().show()

+-------+----------+--------+------------------+---------+------+-----------+-------+-----------------+-------+-----------------+------------------+
|summary|      date|    time|          size_new|r_version|r_arch|       r_os|package|          version|country|            ip_id|         ip_id_new|
+-------+----------+--------+------------------+---------+------+-----------+-------+-----------------+-------+-----------------+------------------+
|  count|    421969|  421969|            421969|   421969|421969|     421969| 421969|           421969| 421969|           421969|            421969|
|   mean|      null|    null| 861961.3297967386|     null|  null|       null|   null|63.38614840474673|   null| 5538.41794302425|27692.089715121252|
| stddev|      null|    null|2053088.0765684885|     null|  null|       null|   null|418.3377127051209|   null|4462.522749666886| 22312.61374833449|
|    min|2015-12-12|00:00:00|               504|   2.11.1|    NA|         NA|     A3|            0-0-1|     A1|                1|                 5|
|    max|2015-12-12|23:59:59|          68736865|       NA|x86_64|solaris2.10|    zyp|               NA|     ZM|            16962|             84810|
+-------+----------+--------+------------------+---------+------+-----------+-------+-----------------+-------+-----------------+------------------+

## 4. Transform A DataFrame Column (using UDF)

In [69]:
from pyspark.sql.functions import udf

derive_perc = udf(lambda x: str(round(x * 100, 3)) + "%")
# or 
# @udf
# def derive_perc(x):
#     return(str(round(x * 100, 3)) + "%")

package_count = package_count.withColumn("perc", derive_perc(package_count['count'] / DT3.count()))

package_count.show(10)

+------------+-----+------+
|     package|count|  perc|
+------------+-----+------+
|        Rcpp| 4783|1.133%|
|     ggplot2| 3913|0.927%|
|     stringi| 3748|0.888%|
|     stringr| 3449|0.817%|
|        plyr| 3436|0.814%|
|    magrittr| 3265|0.774%|
|      digest| 3223|0.764%|
|    reshape2| 3205| 0.76%|
|RColorBrewer| 3046|0.722%|
|      scales| 3007|0.713%|
+------------+-----+------+
only showing top 10 rows

In [72]:
package_count.filter(package_count.package == 'DT').show()

+-------+-----+------+
|package|count|  perc|
+-------+-----+------+
|     DT|   97|0.023%|
+-------+-----+------+

## 5. Using Spark SQL

We can build a view with the Spark DataFrame, then we can SQL syntax to further process our data.

You may notice there are two ways to build a view,

- `DF.createGlobalTempView` (or `DF.createOrReplaceGlobalTempView`): create a global temporary view
- `DF.createTempView` (or `DF.createOrReplaceTempView`): create a local temporary view

The main difference between them is the lifetime. The lifetime of a global temporary view is tied to the Spark application, while lifetime of a local temporary view is tied to the SparkSession.

In [73]:
# Creates or replaces a local temporary view with a DataFrame.
# The lifetime of this temporary table is tied to the SparkSession that was used to create this DataFrame.

package_count.createOrReplaceTempView("package_count_sql_table")

In [75]:
# Basic Spark SQL Query - 1
query_result = sqlContext.sql("select perc \
                               from package_count_sql_table \
                               where package = 'DT'")

print(query_result.collect())

[Row(perc='0.023%')]

In [76]:
# Basic Spark SQL Query - 2
query_result = sqlContext.sql("select * \
                                from package_count_sql_table \
                                where count > 1000 \
                                order by count asc")
print(query_result.show(5))

+-------+-----+------+
|package|count|  perc|
+-------+-----+------+
|   slam| 1006|0.238%|
|     sp| 1020|0.242%|
|  shiny| 1041|0.247%|
|  tidyr| 1042|0.247%|
|plotrix| 1066|0.253%|
+-------+-----+------+
only showing top 5 rows

None

In [77]:
# Use the Spark RDD way to process the results from Spark SQL query result
query_result.rdd.map(lambda x:x['package'] + ":" + x['perc']).take(10)

['slam:0.238%',
 'sp:0.242%',
 'shiny:0.247%',
 'tidyr:0.247%',
 'plotrix:0.253%',
 'wordcloud:0.254%',
 'rgl:0.257%',
 'markdown:0.261%',
 'irlba:0.27%',
 'pkgmaker:0.27%']